<% title [@status.formatted_date, @status.formatted_time].join(" ") %>

<p>
  <strong>Status: </strong>
  <%= @status.category.name%>
</p>

<%= simple_format @status.description %>


<% if can? :manage, @status %>
<p>
<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
</p>
<% end %>