body { background-color: #fff; color: #333; margin: 0}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
h1 span{font-weight:normal; font-size: .7em;}
h1 {background-color:black; color:white; margin: 0; padding: 1em}
div#yield{ margin: 2em}
h3{  font-size: 1.5em;}
h4{margin-left: 2em}
h4 img{margin-bottom: -3px}
.details p{margin-left: 3.5em}
ul.services {list-style-type:none; padding: 0}
ul.services li {margin: 0}
ul.services li{  padding-bottom: .7em; padding-left: 1.5em; line-height: 1.5em}
ul.services li.online { background: url('/images/accept.png') no-repeat 0px 3px;}
ul.services li.offline { background: url('/images/error.png') no-repeat 0px 3px; }
ul.services span{ font-weight:bold}